<div style="text-align: center">
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="resetPassword(formDirective)">
    <div><h3>Provide following information to reset your password:</h3></div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Login:</mat-label>
        <input type="text" name="login" matInput formControlName="login">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email:</mat-label>
        <input type="email" name="email" matInput formControlName="email">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name:</mat-label>
        <input type="text" name="name" matInput formControlName="name">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button [disabled]="form.invalid">Reset my password</button>
    <div style="margin-top: 10px">{{message}}</div>
  </form>
</div>
